<!-- <header>
  <div class="container">
    <nav class="nav-bar">
      <div class="logo">
        <img src="../assets/images/logo.svg" alt="logo">
      </div>
      <div class="try-btn-container">
        <button class="try-btn">Try it Free</button>
      </div>
    </nav>
  </div>
</header> -->
<main>
  <section class="hero">
    <div class="container">
      <nav class="nav-bar">
        <div class="logo">
          <img src="../assets/images/logo.svg" alt="logo" />
        </div>
        <div class="try-btn-container">
          <button class="try-btn">Try it Free</button>
        </div>
      </nav>
      <div class="first-page">
        <div class="intro">
          <h1 class="intro--title m-bottom-normal">
            Build The Community Your Fans Will Love
          </h1>
          <p class="intro--description m-bottom-normal">
            Huddle re-imagines the way we build communities. You have a voice,
            but so does your audience. Create connections with your users as you
            engage in genuine discussion.
          </p>
          <div class="intro--start-btn">
            <button class="btn-normal">
              Get Started For Free
            </button>
          </div>
        </div>
        <div class="main-picture">
          <img src="../assets/images/illustration-mockups.svg" alt="" />
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="second-page">
      <div
        class="cart-container"
        *ngFor="let card of cards; first as isFirst"
        [class.first]="isFirst"
      >
        <app-card [card]="card"> </app-card>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="flow-card">
      <div class="flow-card--title">
        <p>Ready To Build Your Community?</p>
      </div>
      <div class="flow-card--btn">
        <button class="btn-big">
          Get Started For Free
        </button>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="container footer-flex">
    <div class="footer-left">
      <img
        class="convert-white logo-footer"
        src="../assets/images/logo-footer.svg"
        alt=""
      />
      <div class="footer-flex-row">
        <img class="icon" src="../assets/images/icon-location.svg" alt="" />
        <p class="footer-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
      </div>
      <div class="footer-flex-row">
        <img class="icon" src="../assets/images/icon-phone.svg" alt="" />
        <p class="footer-text">
          +1-543-123-4567
        </p>
      </div>
      <div class="footer-flex-row">
        <img class="icon" src="../assets/images/icon-email.svg" alt="" />
        <p class="footer-text">
          example@huddle.com
        </p>
      </div>
    </div>
    <div class="footer-mid">
      <div class="nav-link">
        <a href="" class="nav-link--tag">About Us</a>
        <a href="" class="nav-link--tag">Career</a>
        <a href="" class="nav-link--tag">What We Do</a>
        <a href="" class="nav-link--tag">Blog</a>
        <a href="" class="nav-link--tag">FAQ</a>
        <a href="" class="nav-link--tag">Contact Us</a>
      </div>
    </div>
    <div class="social-media-container">
      <div class="social-media-icon-box">
        <img
          class="fb-icon"
          src="../assets/images/facebook-f-brands.svg"
          alt="facebook"
          class="convert-white fb-icon"
        />
      </div>
      <div class="social-media-icon-box">
        <img
          class="twi-icon"
          src="../assets/images/twitter-brands.svg"
          alt="twitter"
          class="convert-white twi-icon"
        />
      </div>
      <div class="social-media-icon-box">
        <img
          class="ins-icon"
          src="../assets/images/instagram-brands.svg"
          alt="instagram"
          class="convert-white ins-icon"
        />
      </div>
    </div>
  </div>
</footer>
<!-- <router-outlet></router-outlet> -->
